@import url("https://fonts.googleapis.com/css?family=Bitter|Comfortaa|Hind+Siliguri&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* NAVBAR */
nav {
  background-color: black;
  height: 12vh;
  width: 100%;
  position: fixed;
  z-index: 4;
  opacity: 90%;
}

nav ul {
  float: right;
  margin-right: 2vw;
}

nav ul li {
  display: inline-block;
  line-height: 4;
  padding: 0vw 0.4vw;
}

nav ul li a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: white;
  font-family: "Montserrat", sans-serif;
  padding: 1vh 2vh;
  border-radius: 15px;
  border: solid 1px #00ce8e;
  /* border: solid 1px white; */
}

nav ul li a:hover {
  /* border: solid 1px #00ce8e; */
  border: solid 1px white;
}

.menu {
  position: absolute;
  top: 26px;
  right: 0;
  width: 30px;
  height: 20px;
  float: right;
  margin-right: 2.2rem;
  display: none;
}

nav ul li a:active {
  border-color: black;
}

/* END NAVBAR */

/* HEADER SECTION START */
header {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.logo {
  position: absolute;
  padding: 1rem 2rem;
}

.logo img {
  max-width: 10vw;
  max-height: 10vh;
}

.content {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  display: block;
  position: absolute;
  color: white;
  max-width: 40vw;
  margin-top: 10vw;
  padding: 1rem 2rem;
  line-height: 3rem;
}

.content span {
  font-size: 20px;
  font-family: "Saira Semi Condensed", sans-serif;
}

/*HEADER SECTION ENDS*/

/*ABOUT SECTION*/
.sec1 {
  background-color: black;
  max-height: 100vh;
  max-width: 100;
}

.sec2 {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  display: flex;
}

.card {
  display: flex;
  flex: 5;
  background-color: white;
  margin-left: 5vh;
  margin-right: 10vh;
  /* width: 50%; */
  max-height: 100vh;
  border-radius: 20px;
  box-shadow: 5px 5px 10px#757575;
  z-index: 1;
  margin-top: 20vh;
}

.card .info {
  padding: 5%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  line-height: 2vw;
}
.card .info p {
  margin-bottom: 5vh;
}

.card h1 {
  padding: 2% 0%;
  font-size: 40px;
}

.info img {
  position: absolute;
  max-width: 50vh;
  max-height: 50vh;
  margin-top: 15%;
  margin-left: 20%;
  opacity: 10%;
  object-fit: cover;
}

.sec2 img {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100vh;
}

.quick {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 13vh;
  margin-top: 10vh;
}

.quick .element {
  display: flex;
  color: white;
  position: relative;
  background-color: black;
  margin-top: 2vh;
  border-radius: 10px;
  padding: 3vh;
  margin-left: 2vh;
  flex-direction: column;
  box-shadow: 2px 2px 4px #757575;
}
.social{
  text-decoration: none;
  color: white;
}


.quick .element img {
  max-width: 2rem;
  max-height: 2rem;
  margin-left: 1vw;
  margin-top: 4vh;
}

.quick .element h3 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  margin-left: 3vw;
}

.quick .element p {
  font-family: "Bitter", serif;
  font-size: 12px;
  margin-left: 3vw;
}
.card span {
  align-self: center;
}
.downloadButton {
  text-decoration: none;
  margin-top: 10vh;
  padding: 2vh;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #ababab;
}

/* END ABOUT */

/* secrtion 3 */
.sec3 {
  padding: 10vh;
}

.detail {
  position: relative;
  display: flex;
}

.decor {
  position: absolute;
  max-width: 20vh;
  max-height: 20vh;
  margin-top: 5vw;
}

.host {
  position: relative;
  display: flex;
  margin: 10vh;
  flex-direction: column;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}

.host img {
  max-width: 50vh;
  max-height: 50vh;
  margin-top: 3vh;
  margin-right: 3vw;
}

/* footer starts */
footer {
  bottom: 0px;
  color: white;
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  background-color: black;

  /* padding: 4vh; */
}

.contact {
  margin: 5vh 1.5vw;
}

.contact h2 {
  font-family: "Varela Round", sans-serif;
}

.contact p {
  margin-top: 3vh;
  line-height: 4vh;
  font-family: "Montserrat", sans-serif;
}

.contact p img {
  max-width: 3vh;
  max-height: 3vh;
}

.contact ul {
  list-style: none;
  margin-top: 3vh;
}

.contact ul li a {
  line-height: 5vh;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.contact ul li a:hover {
  color: #00ce8e;
}

.contact .mob {
  display: none;
}

/* footer ends */

/* committee page */

.comhead {
  height: 80vh;
  width: 100vw;
  object-fit: cover;
}
.committie {
  position: absolute;
}
.committiee .content {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 40px;
  margin-top: 60vh;
  margin-left: 10vw;
}
.section1 {
  position: relative;
  margin-left: 5vh;
}
.heading {
  margin-top: 5vh;
}
.heading div h1 {
  margin-bottom: 2vh;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 30px;
}
.ComEle {
  display: grid;
  grid-template-columns: 40% 40%;
}
.group {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-left: 5vh;
  font-family: "Montserrat", sans-serif;
  line-height: 4vh;
}
.individual {
  margin: 1vh;
}
.first {
  margin-left: 5vh;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 30px;
}
.organize {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  font-family: "Montserrat", sans-serif;
  line-height: 5vh;
  margin-top: 5vh;
  text-align: start;
}
.organizeHead {
  text-align: start;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 30px;
  margin-top: 3vh;
}
.patron {
  text-align: center;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 40px;
  margin-top: 5vh;
}
.vip {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.vip p {
  font-size: 15px;
}
.subhead {
  font-family: "Saira Semi Condensed", sans-serif;
  text-align: start;
  font-size: 27px;
  margin-bottom: 2vh;
}

/* MOBILE VIEW */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    position: absolute;
    padding: 1rem 2rem;
  }

  .logo img {
    max-width: 15vh;
    max-height: 10vh;
  }

  nav {
    height: 10vh;
    position: fixed;
  }

  nav ul {
    float: right;
    margin-right: 2vw;
    margin-top: 2vh;
    /* margin-right: .5rem; */
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 11px;
  }

  .nav-link {
    position: absolute;
    top: 10vh;
    background-color: black;
    width: 14rem;
    height: 100vh;
    display: block;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .menu {
    display: block;
    margin-right: 2.5rem;
  }

  .content {
    padding-top: 15vh;
  }

  .content {
    padding-left: 7vh;
    max-height: 100vh;
    max-width: 100%;
    font-size: 25px;
  }

  .content h2 {
    line-height: 6vh;
  }

  .content span {
    line-height: 3vh;
  }

  /* end of first page */

  /* start of about section */
  .sec2 img {
    position: absolute;
    width: 35vh;
    height: 100vh;
    left: 0;
    top: 0;
  }

  .card {
    /* height: 70vh; */
    margin: 3vh;
    display: flex;
    flex: 1;
  }
  .card .info {
    line-height: 3.5vh;
    font-size: 18px;
  }
  .card .info h1 {
    padding-bottom: 1.5vh;
    font-size: 35px;
  }
  .info img {
    height: 30vh;
    width: 30vh;
    margin-top: 20vh;
    margin-left: 10vh;
  }
  .quick {
    display: none;
  }
  .card span {
    margin-bottom: 2vh;
  }
  .downloadButton {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    border-radius: 50px;
    box-shadow: 5px 5px 4px #ababab;
  }
 
  /* end of about section */
  footer {
    flex-direction: column;
    margin-top: 0vh;
  }

  .contact p img {
    max-width: 2vh;
    max-height: 2vh;
  }

  .contact {
    margin: 4vw 4vh;
  }

  .contact .desktop {
    display: none;
  }

  .contact .mob {
    display: block;
  }

  .contact p {
    margin-top: 1vh;
  }

  .container ul {
    margin-top: 1vh;
  }

  .detail {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .host img {
    margin-top: 5vh;
  }
  .host {
    margin-top: 0vh;
  }
  /* committiees */
  .section1 {
    margin-top: 0vh;
    margin-left: 0;
  }
  .comhead {
    height: 50vh;
    width: 100vw;
    object-fit: cover;
  }
  .committie {
    align-items: center;
  }
  .committiee .content {
    font-family: "Saira Semi Condensed", sans-serif;
    font-size: 25px;
    margin-top: 25vh;
    margin-left: 0vh;
  }
  .organizeHead {
    margin-left: 0vh;
  }
  .ComEle {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 0;
  }
  .group {
    margin-left: 2vh;
    font-size: 15px;
    line-height: 3vh;
  }
  .group h1 {
    line-height: 6vh;
  }
  .first {
    line-height: 6vh;
    margin-left: 2vh;
  }
  .organize {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    line-height: 4vh;
    margin-bottom: 5vh;
  }
}

/* END MOBILE VIEW */
