body{
    margin:0;
    padding: 0;
    width: 100%;
}

header{
    overflow: hidden;
}
.container img{
    max-height: 100vh;
    max-width:100;
}
.logo{
    position: absolute;
    padding: 1rem 2rem;
}
.logo img{
    max-width: 10vw;
    max-height: 10vh;
}
.content{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    color: white;
    max-width: 40vw;
    margin-top: 20vh;
    padding: 1rem 2rem;
    line-height: 2.5rem;
}
.content span{
    font-size: 20px;
    font-family: 'Saira Semi Condensed', sans-serif;
}